.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color:greenyellow;
}
.dialogsItems a {
    text-decoration: none;
    color: black;
    outline: none;
}

.messages {
    padding: 10px;
}




